@media screen and ( max-width: 1224px )
  html
    font-size: 12px
  .nav
   
    &__item
      margin-right: 1rem
  .contacts
    &__phone
      min-width: 9rem
      margin-right: 0
    &__button
      
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 570px )
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .hero
    
    &__content
      max-width: 22.92rem
      margin-left: 0
      margin-right: 0
    &__title
      font-size: 1.64rem;
      line-height: 132.83%
    &__text
      min-width: 314px
      font-size: 1.29rem;
      line-height: 135.84%;
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.92rem
      margin-right: 0
      margin-bottom: 1.85rem
    &__scroll-down
      display: none 
@media screen and ( max-height: 530px )
  .hero
    &__scroll-down
      display: none
    
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .col
    margin-bottom: 7.5rem
  .card

    &__text
      margin-left: 0
      margin-top: -11.5rem
    &__list
      margin-bottom: 1.07rem
    &__item
      margin-bottom: 2.5px
    &__pricetag
      padding: 0.9rem 2.95rem
@media screen and ( min-width: 760px )
  .design
    background-color: $light
    
    &__section-title
      color: $dark
    &__row
      flex-direction: row
      display: flex
      align-items: flex-start
      justify-content: space-between
    &__col
      flex-basis: 32%
  .section-title__description 
    color: $dark
    max-width: 741px
  .card__pricetag_design
    padding: 1.21rem  5.62rem 1.21rem 2rem
  .card__text_design
    margin-top: -8.3rem



